#recent-orders{
    max-height: 300px;
    overflow: scroll;
    th,td{
        color: #7e7979;
        text-align: center;
    }
    .status{
        color: #fff;
        border-radius: 3px;
        padding: 0px 10px 4px 10px
    }
    .paid{
        background-color: hsl(144.12deg 56.07% 66.08%);
    }
    .pending{
        background-color: hsl(234.29deg 14.48% 71.57%);
    }
    .failed{
        background-color: hsl(352.2deg 78.12% 74.9%);
    }
}